* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(https://i.pinimg.com/originals/21/88/6e/21886e511f2e8618acd6c7cde85cfc0b.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    font-size: x-large;
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5 ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #e8bc80
}

#paper {
    background-color: #c2785b;
}

#scissors {
    background-color: #5d556d;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.your-score span {
    color: rgb(3, 195, 195);
}

.machine-score span {
    color: rgb(188, 33, 33);
}

@media (max-width: 450px) {
    body {
        background-position: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
   body{ background-position: center;
   }
}